<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <!--  csrf token  -->
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <title>Board Service</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/write.css}">
    <script src="/script/write.js" defer></script>
</head>

<body>
    <div th:replace="~{infra/navbar :: navbarFragment}"></div>
    <div class="header"></div>
    <div class="write-detail">
        <h1>게시글 등록</h1>
        <form id="form">
            <div class="write-title">
                <label for="title">제목</label><br>
                <input type="text" id="title" name="title" th:value="${post.title}">
            </div>
            <div class="write-content">
                <label for="content">내용</label><br>
                <textarea id="content" name="content" rows="10" cols="100" th:text="${post.content}"></textarea>
            </div>
            <button class="submit-button" type="submit">게시글 등록</button>
        </form>
    </div>
</body>
</html>