.submit-button:disabled {
    color: white;
    background-color: gray;
    border-color: gray;
    cursor: not-allowed;
}

.delete-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-align: center;
    color: white;
    background-color: #dc3545;
}

.delete-button:hover {
    background-color: #a71d2a;
}

.button-container {
    display:flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}